/* .navbar-brand {
    position: absolute;
    width: 80%;
    height: 30%;
    left: 4vw;
    top: 10%;
    
} */

a:link {
    text-decoration: none;
}   

.navbar-nav {
    -ms-text-autospace: 5%;
}

.button-style {
    top: 10%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #06114F;
    padding: 15;
    border: none;
    background: none;
  }


.d-inline-block {
    width: 80%;
    height: 40%;
    left: 2%;
    top: 30%;
}